<div class="row">
<div class="col-3 spacer" id="centering-spacer-l"></div>

<section class="col-3 pd-xs tx-gs th-sm">

<div id="ar-basics-title" class="bg-one pd-xs">
<span class="title">Convention</span>

<a href="http://guides.rubyonrails.org/active_record_basics.html#naming-conventions">
<div class="wide bg-one-lt pd-tp-xs pd-lt-m">
naming conventions</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#schema-conventions">
<div class="wide bg-one-lt pd-lt-m">
schema conventions</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#creating-active-record-models">
<div class="wide bg-one-lt pd-lt-m">
creating models</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#overriding-the-naming-conventions">
<div class="wide bg-one-lt pd-lt-m">
overriding convention</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#crud-reading-and-writing-data">
<div class="wide bg-one-lt pd-lt-m">
CRUD basics</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#create">
<div class="wide bg-one-lt pd-lt-lg">
create</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#read">
<div class="wide bg-one-lt pd-lt-lg">
read</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#update">
<div class="wide bg-one-lt pd-lt-lg">
update</div></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#delete">
<div class="wide bg-one-lt pd-bo-xs pd-lt-lg">
delete</div></a>

</div>
</section>

<section class="col-3 pd-xs tx-gs th-sm">
<div id="ar-migrations-title" class="bg-two pd-xs">
<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#creating-a-migration"><span class="title">Creating Migrations</span></a>

<a href="http://guides.rubyonrails.org/active_record_basics.html#naming-conventions">
<div class="wide bg-two-lt pd-tp-xs pd-lt-m">
creating migrations</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#model-generators">
<div class="wide bg-two-lt pd-lt-m">
model generators</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#passing-modifiers">
<div class="wide bg-two-lt pd-lt-m">
command line modifiers</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#creating-a-table">
<div class="wide bg-two-lt pd-lt-m">
create_table</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#creating-a-join-table">
<div class="wide bg-two-lt pd-lt-m">
create_join_table</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#changing-tables">
<div class="wide bg-two-lt pd-lt-m">
change_table</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#foreign-keys">
<div class="wide bg-two-lt pd-lt-m">
add_foreign_key</div></a>

<a href="http://edgeguides.rubyonrails.org/active_record_migrations.html#when-helpers-aren-t-enough">
<div class="wide bg-two-lt pd-lt-m">
.execute</div></a>


</div>
</section>

<div class="col-3 spacer" id="centering-spacer-r"></div>
</div>
