<div class="row">
<div class="col-3 spacer" id="centering-spacer-l"></div>

<section class="col-3 bg-red">

a


</section>
<section class="col-3 bg-blue">


a

</section>

<div class="col-3 spacer" id="centering-spacer-r"></div>
</div>
