<!DOCTYPE html>
<html>
<head>
  <title>Active Record Cheatsheet</title>
    <link rel="stylesheet" type="text/css" href="/css/aji-grid.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">

  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,600italic,900' rel='stylesheet' type='text/css'>
</head>
<body class="pd-no">

<header class="fx wide bg-bl ht-ml th-ml pd-xs box">
<span class="tc-wt tx-g tc-gy">Active Record Cheat Sheet</span>
</header>
<div class="bg-dg tall pd-tp-lg" id="yield-wrapper">

<%= yield %>

</div>
</body>
</html>
