<!DOCTYPE html>
<html>
<head>
  <title>Active Record Cheatsheet</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,600italic,900' rel='stylesheet' type='text/css'>
</head>
<body class="pd-no">

<header class="wide bg-bl ht-ml th-ml pd-xs box">
<span class="tc-wt tx-g tc-gy">Active Record Cheat Sheet</span>
</header>
<container class="rel box ht-vh">

<nav class="lt-no bg-bl ht-mx fl-lt tc-wt wt-m pd-s box rel" >

<span class="block wide debug-bg ht-md box tx-gs"><a class="mg-xs">hello</a></span>



</nav>

<main class="box ht-mx mg-lt-md wt-au bg-dg pd-no oa">
<% yield %>
</main>

</container>
<footer class="wide ht-ml bg-bl">


</footer>

</body>
</html>
